<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link type="text/css" rel="stylesheet" href="css/estilo.css" />
</head>
<body>

<h2>The XMLHttpRequest Object</h2>

<button type="button" onclick="loadDoc()">Request data</button>

<p id="demo"></p>

<div id="topo">    

    <table id="menu" align="left" border="0"> 
		    <tr  height="22px">
		    <td colspan="2" width="70px"></td>
		    <td colspan="5" class="nomeEmpresa">New Frut</td>		    
		    </tr>
		    <tr>		    
		    	<td class="selecionado"><a href="index.jsp"><img src="images/menu_inicio.png"></a></td>
		    	<td class="menu"><a href="clientes.jsp"><img src="images/menu_clientes.png"></a></td>  
		    	<td class="menu"><a href="fornecedores.jsp"><img src="images/menu_fornecedores.png"></a></td>
		    	<td class="menu"><a href="contas.jsp?tipo=1"><img src="images/menu_pagar.png"></a></td>
		    	<td class="menu"><a href="contas.jsp?tipo=2"><img src="images/menu_receber.png"></a></td>
		    	<td class="menu"><a href="coletas.jsp"><img src="images/menu_coletas.png"></a></td> 
		    	<td class="menu"><a href="relatorios/filtrosRelatorios.jsp"><img src="images/menu_relatorios.png"></a></td>
		    </tr>		
	</table>    
    </div>	
    
    <div id = "conteudo">
	
		<div id="titulo">
			Atualizar Tabelas
	 	</div>	 	
	 	<br>
	 	<hr>
	 	<a href="cadastroCliente.jsp?act=1"><img src="images/botao_cadastrar.png"/></a>
	 	<br>
	 	<hr>
	 	<br>
	 	
	 	
	 	 	
	 	<br> 	
	 	
	 	
	 	<table  align="center" id="grid">
			<tr class="grid">
				<th class="grid tam2"></th>	
				<th class="grid tam2">Código</th>
				<th class="grid tam14">Nome</th>
				<th class="grid tam14">Nome Fantasia</th>
				<th class="grid tam9">E-mail</th>
				<th class="grid tam6">Telefone</th>
				<th class="grid tam6">Celular</th>
				<th class="grid tam2">Vencto.</th>															
			</tr>
			 	
	 		<tr class="grid">	 		
	 			<td class="acao">
					<a href="cadastroCliente.jsp?idPessoa=<%= cliente.getId()%>&enum=<%=PessoaEnum.CLIENTE.getCode()%>&act=2">
					<img src="images/edit_grid.png"></a>
					<a href="cadastroCliente.jsp?idPessoa=<%= cliente.getId()%>&enum=<%=PessoaEnum.CLIENTE.getCode()%>&act=3">
					<img src="images/detalha_grid.png"></a>
				</td>
				<td class="grid"><%=codigo%></td>
				<td class="grid"><%=cliente.getNome()%></td>
				<td class="grid"><%=fantasia%></td>
				<td class="grid"><%=email%></td>
				<td class="grid"><%=telefone%></td>
				<td class="grid"><%=celular %></td>
				<td class="grid"><%=vencimento%></td>																
			</tr> 
			
			   
		      	  
    	    	
	 	</table>	 	
	  	</div>	
	
	<br>
	
	<table align="center" width = "960px">
		<tr>
			<td><img alt="LocaNet" src="images/index_texto.png"></td>
		</tr>
		<tr>
			<td><div id="titulo">Bem vindo! </div></td>
		</tr>
		<tr>
			<td></td>
		</tr>		
	</table>	
	<div id="rodape">
	<img src="<%="images/" + null %>">

<script>
function loadDoc() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("demo").innerHTML = this.responseText;
    }
  };
  xhttp.open("GET", "/jvsync/rest/database/atualizarDados?tabela=tgfven", true);
  xhttp.send();
}
</script>

</body>
</html>
